body {
  background-color: #fff;
}
#choose {
  width: 100%;
  height: 0.999975rem;
  line-height: 0.999975rem;
  margin-top: -0.239994rem;
  border: 1px solid #ebebeb;
  background: linear-gradient(to bottom, #ffffff, #ebebeb);
  padding: 0 0.239994rem;
  box-sizing: border-box;
}
[data-dpr='1'] #choose {
  font-size: 14px;
}
[data-dpr='2'] #choose {
  font-size: 28px;
}
[data-dpr="3"] #choose {
  font-size: 42px;
}
#choose > span:nth-of-type(2) {
  float: right;
  width: 1.666625rem;
  height: 0.733315rem;
  line-height: 0.733315rem;
  border-radius: 5px;
  border: 1px solid #bababa;
  background: linear-gradient(to top, #ffffff, #d7d7d7);
  margin-top: 0.13333rem;
}
#choose > span:nth-of-type(2) a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}
#choose a {
  color: #000;
}
#content {
  background-color: #fff;
}
#content .rank {
  width: 100%;
  height: 0.999975rem;
  line-height: 0.999975rem;
  font-weight: 700;
  background-color: #F3F3F3;
  color: #903900;
  border-bottom: 1px solid #cccccc;
  padding: 0 0.26666rem;
  box-sizing: border-box;
}
[data-dpr='1'] #content .rank {
  font-size: 14px;
}
[data-dpr='2'] #content .rank {
  font-size: 28px;
}
[data-dpr="3"] #content .rank {
  font-size: 42px;
}
#content .goods ul li {
  width: 100%;
  height: 1.73329rem;
  border-bottom: 1px solid #e7e7e7;
}
#content .goods ul li a {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0.26666rem;
}
#content .goods ul li a span {
  display: block;
  float: left;
  width: 0.53332rem;
  height: 0.53332rem;
  margin-bottom: 0.66665rem;
  color: #ffffff;
  text-align: center;
  line-height: 0.53332rem;
  margin-right: 0.26666rem;
  background-color: #C9C9C9;
}
#content .goods ul li a span.first {
  border: 1px solid red;
  background-color: #F10E0E;
}
#content .goods ul li a span.second {
  border: 1px solid #FF8502;
  background-color: #FF9314;
}
#content .goods ul li a span.third {
  border: 1px solid #77DA41;
  background-color: #8ADF5B;
}
#content .goods ul li a h3 {
  color: #000;
}
[data-dpr='1'] #content .goods ul li a h3 {
  font-size: 16px;
}
[data-dpr='2'] #content .goods ul li a h3 {
  font-size: 32px;
}
[data-dpr="3"] #content .goods ul li a h3 {
  font-size: 48px;
}
#content .sales ul {
  margin-bottom: 0.26666rem;
  box-sizing: border-box;
}
#content .sales ul li {
  width: 100%;
  height: 3.399915rem;
  border-bottom: 1px solid #e7e7e7;
}
#content .sales ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}
#content .sales ul li a .left {
  float: left;
}
#content .sales ul li a .left img {
  width: 2.6666rem;
  height: 2.6666rem;
}
#content .sales ul li a .right {
  margin-left: 2.6666rem;
  height: 100%;
  padding-left: 0.26666rem;
  position: relative;
}
#content .sales ul li a .right h3 {
  color: #000;
}
[data-dpr='1'] #content .sales ul li a .right h3 {
  font-size: 14px;
}
[data-dpr='2'] #content .sales ul li a .right h3 {
  font-size: 28px;
}
[data-dpr="3"] #content .sales ul li a .right h3 {
  font-size: 42px;
}
#content .sales ul li a .right p {
  color: #ea3900;
  margin-top: 0.39999rem;
  margin-bottom: 0.199995rem;
}
[data-dpr='1'] #content .sales ul li a .right p {
  font-size: 14px;
}
[data-dpr='2'] #content .sales ul li a .right p {
  font-size: 28px;
}
[data-dpr="3"] #content .sales ul li a .right p {
  font-size: 42px;
}
#content .sales ul li a .right em {
  color: #FF9314;
  float: right;
}
[data-dpr='1'] #content .sales ul li a .right em {
  font-size: 16px;
}
[data-dpr='2'] #content .sales ul li a .right em {
  font-size: 32px;
}
[data-dpr="3"] #content .sales ul li a .right em {
  font-size: 48px;
}
#content .sales ul li a .right .bot {
  width: 100%;
  position: absolute;
  bottom: 0.66665rem;
  left: 0.26666rem;
}
#content .sales ul li a .right .bot i {
  display: inline-block;
  width: 0.333325rem;
  height: 0.333325rem;
  margin-top: 0.093331rem;
}
#content .sales ul li a .right .bot i,
#content .sales ul li a .right .bot span:nth-of-type(2) {
  float: right;
  margin-right: 0.26666rem;
}
#content .comments {
  width: 100%;
  margin-bottom: 0.66665rem;
}
#content .comments .message {
  width: 100%;
  box-sizing: border-box;
  padding: 0.26666rem;
  border-bottom: 1px solid #e7e7e7;
}
#content .comments .message a {
  display: block;
  width: 100%;
  height: 100%;
}
#content .comments .message a .pic {
  height: 2.39994rem;
  margin-bottom: 0.39999rem;
}
#content .comments .message a .pic .left {
  width: 2.6666rem;
  height: 2.39994rem;
  margin-right: 0.26666rem;
}
#content .comments .message a .txt {
  border: 1px solid #cccccc;
  padding: 0.26666rem;
  box-sizing: border-box;
  position: relative;
}
#content .comments .message a .txt i:nth-child(1) {
  position: absolute;
  top: -0.53332rem;
  left: 0.53332rem;
  border-width: 0.26666rem;
  border-style: solid;
  border-color: transparent transparent #cccccc transparent;
}
#content .comments .message a .txt i:nth-child(2) {
  position: absolute;
  top: -0.466655rem;
  left: 0.53332rem;
  border-width: 0.26666rem;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}
#content .comments .message a .txt .tips {
  margin-bottom: 0.26666rem;
}
#content .comments .message a .txt .tips .tel {
  color: #2B550F;
}
#content .comments .message a .txt .tips em {
  color: #FF9314;
}
[data-dpr='1'] #content .comments .message a .txt .tips em {
  font-size: 14px;
}
[data-dpr='2'] #content .comments .message a .txt .tips em {
  font-size: 28px;
}
[data-dpr="3"] #content .comments .message a .txt .tips em {
  font-size: 42px;
}
#content .comments .message a .txt .tips .data {
  float: right;
}
#content .comments .message a .txt p {
  color: #000000;
}
#foot > ul {
  background-color: #f1f1f1;
}
