#header {
  position: relative;
  text-align: center;
  line-height: 1.306634rem;
}
#header .l {
  width: 0.66665rem;
  height: 1.306634rem;
  line-height: 1.306634rem;
  position: absolute;
  top: 0;
  left: 0.26666rem;
}
[data-dpr='1'] #header .l {
  font-size: 24px;
}
[data-dpr='2'] #header .l {
  font-size: 48px;
}
[data-dpr="3"] #header .l {
  font-size: 72px;
}
#header .l a {
  display: block;
  color: #ffffff;
  width: 100%;
  height: 100%;
}
#header .center h1 {
  font-weight: 700;
  color: #ffffff;
}
[data-dpr='1'] #header .center h1 {
  font-size: 22px;
}
[data-dpr='2'] #header .center h1 {
  font-size: 44px;
}
[data-dpr="3"] #header .center h1 {
  font-size: 66px;
}
#display {
  background-color: #ffffff;
}
#display ul {
  margin-bottom: 0.26666rem;
}
#display ul li {
  width: 100%;
  height: 3.399915rem;
}
#display ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}
#display ul li a .left {
  float: left;
}
#display ul li a .left img {
  width: 2.6666rem;
  height: 2.6666rem;
  border: 1px solid #ccc;
}
#display ul li a .right {
  margin-left: 2.6666rem;
  height: 100%;
  padding-left: 0.26666rem;
  position: relative;
}
#display ul li a .right h3 {
  color: #000;
}
[data-dpr='1'] #display ul li a .right h3 {
  font-size: 14px;
}
[data-dpr='2'] #display ul li a .right h3 {
  font-size: 28px;
}
[data-dpr="3"] #display ul li a .right h3 {
  font-size: 42px;
}
#display ul li a .right h3 span {
  color: #ff6c00;
}
#display ul li a .right .bot {
  width: 100%;
  position: absolute;
  bottom: 0.66665rem;
  left: 0.26666rem;
}
#display ul li a .right .bot i {
  display: inline-block;
  width: 0.333325rem;
  height: 0.333325rem;
  margin-top: 0.093331rem;
}
#display ul li a .right .bot i,
#display ul li a .right .bot span:nth-of-type(2) {
  float: right;
  margin-right: 0.26666rem;
}
#display .page {
  background-color: #fff;
  display: flex;
}
#display .page > span {
  flex: 1;
  text-align: center;
  margin-bottom: 0.733315rem;
}
#display .page > span > a {
  display: inline-block;
  width: 2.199945rem;
  height: 0.906644rem;
  line-height: 0.906644rem;
  color: #000;
  border-radius: 5px;
  background: linear-gradient(to bottom, #ffffff, #d4d4d4);
  border: 1px solid #d4d4d4;
}
#display .page > span > select {
  width: 2.39994rem;
  height: 0.906644rem;
  text-align: center;
  text-indent: 0.53332rem;
}
